<%= form_with(url: sessions_path) do |form| %>
    <div class="bg-gray-200">
    <br>
        <div class="mx-10 bg-center">
            <%= form.label :login,"User", style: "display: block" %>
            <%= form.text_field :login, required: true, class:"rounded-2xl w-full" %> 
        </div>

        <br>
        
        <div class="mx-10 bg-center">
            <%= form.label :password, style: "display: block" %>
            <%= form.password_field :password, required: true, class:"rounded-2xl w-full" %>
        </div>

        <br>

        <!--BOTON PARA Laptop-->
        <div class="hidden lg:block"  >
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <button class=" items-center bg-sky-950 text-white hover:bg-blue-200 hover:text-black text-sm font-bold rounded-3xl py-2 px-2">
                <%= form.submit %>
            </button>
        </div>

        
        <!--BOTON PARA TABLET-->
        <div class="hidden sm:block lg:hidden"  >
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <button class=" items-center bg-sky-950 text-white hover:bg-blue-200 hover:text-black text-sm font-bold rounded-3xl py-2 px-2">
             <%= form.submit %>
            </button>
        </div>

         <!--BOTON PARA MOVIL-->
        <div class="sm:hidden"  >
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <button class=" items-center bg-sky-950 text-white hover:bg-blue-200 hover:text-black text-sm font-bold rounded-3xl py-2 px-2">
                <%= form.submit %>
            </button>
        </div>

        <br>
    </div>
<%end%>