<%= form_with(model: category) do |form| %>

  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lg:mx-5 lg:my-2 sm:mx-3 sm:my-2 mx-3 my-1">
    <%= form.label :name, "Ingrese la categoría", style: "display: block", class: "text-sm" %>
    <%= form.text_field :name, class:"lg:rounded-lg sm:rounded-lg lg:my-2 w-full rounded-lg" %>
  </div>

  <div class="lg:mx-20 sm:mx-20 mx-10">
    <button class=" items-center bg-purple-500 text-white hover:bg-purple-200 hover:text-purple-500 text-sm font-bold rounded-3xl lg:py-2 lg:px-2 lg:mx-5 lg:my-4 sm:py-1 sm:px-2 sm:mx-5 sm:my-3 mx-5 my-2 py-2 px-1">
      <%= form.submit %>
    </button>
  </div>
  
<% end %>
