<div class="sm:m-10 m-5 lg:mx-20 lg:my-6">
    <div class="sm:mx-20 mx-10 lg:mx-20">
        <div class="lg:mx-20">
            <div class="bg-red-500 bg-center text-center text-white rounded-t-xl p-1 lg:mx-20">
                <h2><%= @product.title%></h2>
            </div>
                
                <p class="lg:hidden"><%= image_tag @product.photo, width: 800 if @product.photo.attached? %></p>
                <div class=" hidden lg:block mx-20"><%= image_tag @product.photo, width: 800 if @product.photo.attached? %></div>
                
                <div class="bg-white rounded-b-xl lg:mx-20">
                    <div class=" font-sans sm:p-6 p-2 sm:text-md text-sm lg:text-base">
                            <p><%= @product.description %></p> 
                            <span class="font-bold">$<%= @product.price%> </span>
                            <p><%= link_to 'Editar Producto', edit_product_path(@product) if @product.user == Current.user %> </p>

                            <%= link_to 'Eliminar Producto', product_path(@product), data: {
                                turbo_method: :delete,
                                turbo_confirm: '¿Estás seguro?'
                            }  if @product.user == Current.user %>

                            <%= link_to 'Ver perfil', user_path(@product.user.username) %>

                            <%= render partial: 'favorite', locals: {product: @product} %>
                        
                    </div>
                </div>
            
        </div>
    </div>
</div>



