<!DOCTYPE html>
<html>
  <head>
    <title>Vendelo | Compra y vende productos de segunda mano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class= "bg-white">
    <%= render 'shared/flash' %> <!--Carpeta views/shared, archivo _flash-->
    <%= render 'shared/header' %> <!--Carpeta views/shared, archivo _header-->
    <div class="">
      <%= yield %>
    </div>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
